.othersBtnStyle2 {
    -fx-pref-width: 133px;
    -fx-pref-height: 40px;
    -fx-text-fill: red;
    -fx-font-size: 16px;
    -fx-background-color: #ffffff;
}

.othersBtnStyle1 {
    -fx-pref-width: 50px;
    -fx-pref-height: 40px;
    -fx-text-fill: red;
    -fx-font-size: 16px;
    -fx-background-color: #ffffff;
}

.numericBtnStyle {
    -fx-pref-width: 60px;
    -fx-pref-height: 50px;
    -fx-font-size: 18px;
    -fx-background-color: #add8e6;
}

.resultLabelStyle {
    -fx-font-size: 20px;
    -fx-alignment: center-right;
    -fx-label-padding: 10px;
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-pref-width: 410px;
}

.flowPaneStype {
    -fx-hgap: 10px;
}